@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/animations' as *;

.home-main {
    flex-grow: 1;
    @include flex(center, center);
}

.walking-dog {
    position: relative;
    transform: scale(0.35);

    &__shadow {
        background-color: #A6C078; //make this into a variable?
        width: 50rem;
        height: 4rem;
        border-radius: 50%;
        position: absolute;
        left: -25rem;
        bottom: -29rem;
    }

    &--isWalking {
        & .walking-dog__right-front-leg {
            transform-origin: top;
            animation: walking-leg-forward 1.25s linear infinite;
        }
    
        & .walking-dog__left-front-leg {
            transform-origin: top;
            animation: walking-leg-backward 1.25s linear infinite;
        }
    
        & .walking-dog__right-back-leg {
            transform-origin: top;
            animation: walking-leg-backward 1.25s linear infinite;
        }
    
        & .walking-dog__left-back-leg {
            transform-origin: top;
            animation: walking-leg-forward 1.25s linear infinite;
        }

        & .walking-dog__tail {
            transform-origin: bottom right;
            animation: walk-tail-wag 0.83s ease-in-out infinite;
        }

        & .walking-dog__head {
            transform-origin: bottom;
            animation: walk-head-bob 1.25s linear infinite;
        }
    }

    &--isStickingTongueOut {
        & .walking-dog__tongue {
            display: block;
        }
    }

    &--isWaggingTail {
        & .walking-dog__tail {
            transform-origin: bottom right;
            animation: walk-tail-wag 0.83s ease-in-out 2;
        }
    }

    &--isBlinking {
        & .walking-dog__eye {
            display: none;
        }

        & .walking-dog__blink-eye {
            display: block;
        }
    }

    &__head {
        position: absolute;
        top: -11.25rem;
        right: -14.5rem;
    }

    &__face {
        position: absolute;
        top: -13.65rem;
        right: -12.1rem;
    }

    &__eye {
        position: absolute;

        &--left {
            top: -1.5rem;
            left: -0.3rem;
        }

        &--right {
            top: -1.7rem;
            right: -10.1rem;
        }
    }

    &__tongue {
        position: absolute;
        display: none;
        top: 6rem;
        right: -11.4rem;
    }

    &__full-body {
        position: absolute;
        top: 2rem;
        left: -11rem;
    }

    &__body {
        position: absolute;
        top: -6.75rem;
        left: -8.7rem;
    }

    &__right-front-leg {
        position: absolute;
        top: 9.25rem;
        right: -28.5rem;
    }

    &__left-front-leg {
        position: absolute;
        top: 2rem;
        right: -21.3rem;
    }

    &__right-back-leg {
        position: absolute;
        top: 7.5rem;
        left: -5rem;
    }

    &__left-back-leg {
        position: absolute;
        top: -0.25rem;
        left: -13.5rem;
    }

    &__tail {
        position: absolute;
        top: -16rem;
        left: -15.5rem;
    }
}