@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.home-main {
    flex-grow: 1;
    @include flex(center, center);
}

.sitting-dog {
    position: relative;
    transform: scale(0.75);

    &__shadow {
        background-color: $purple-shadow;
        width: 13rem;
        height: 2.75rem;
        border-radius: 50%;
        position: absolute;
        left: -6.5rem;
        bottom: -13.75rem;
    }

    &__full-body {
        position: absolute;
        top: 6.45rem;
    }

    &__body {
        position: absolute;
        top: -6.47rem;
        left: -7.66rem;
    }

    &__tail {
        position: absolute;
        top: -4.28rem;
        left: -10.03rem;
    }

    &__neck {
        position: absolute;
        top: -9rem;
        left: -4.85rem;
    }

    &__head {
        transform: rotate(0deg);
        position: absolute;
        top: -5rem;
        left: 0.2rem;
    }

    &__face {
        position: absolute;
        top: -5.69rem;
        left: -6.22rem;
    }

    &__ear {
        position: absolute;
        top: -8.21rem;

        &--right {
            right: -6.5rem;
        }

        &--left {
            left: -6.55rem;
        }
    }

    &__eye {
        position: absolute;
        top: -1rem;

        &--right {
            right: -3.75rem;
        }

        &--left {
            left: -3.75rem;
        }
    }

    &__blink-eye {
        position: absolute;
        top: -0.5rem;
        display: none;

        &--right {
            right: -3.75rem;
        }

        &--left {
            left: -3.75rem;
        }
    } 

    &__tongue {
        position: absolute;
        top: 3.8rem;
        left: -0.68rem;
        display: none;
    }
}
