@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/fonts';

.page {
    &--user {
        font-family: 'Kalam', 'Comic Sans MS', 'Comic Sans', cursive;
        padding: $mobile-spacing;
        line-height: 1.4rem;
        background: linear-gradient(
                #99c0d1 10%, 
                #ecf1e8a2 10%
            ),
            linear-gradient(to right, 
                #ebf8e100 10%, 
                #ca4a4a 10% 10.2%, 
                #ebf8e100 10.5%
            );
        background-size: 100% 25px, 100% 100%;
        background-repeat: repeat, no-repeat;

        @include tablet {
            padding: $tablet-spacing;
        }
        
        @include desktop {
            padding: $desktop-spacing;
        }
    }
}

.main-user {
    padding: $mobile-spacing 0;
    @include flex(center, center, 1.5rem);

    @include tablet {
        padding: $tablet-spacing 0;
    }

    @include desktop {
        padding: 0;
        width: 63.75rem;
        margin: auto;
    }
}

