@use './variables' as *;

@mixin tablet {
    @media (min-size: $tablet) {
        @content;
    }
}

@mixin desktop {
    @media (min-size: $desktop) {
        @content;
    }
}

@mixin flex($justify-content: initial, $align-items: initial, $column-gap: initial, $row-gap: initial, $flex-wrap: nowrap) {
    display: flex;
    justify-content: $justify-content;
    align-items: $align-items;
    column-gap: $column-gap;
    row-gap: $row-gap;
    flex-wrap: $flex-wrap;
}

@mixin avatar {
    width: $avatar-size;

    &__container {
        position: relative;
    }

    &__mask {
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 50%;
        background-color: $light-mask;
        width: $avatar-size;
        height: $avatar-size;
        line-height: 0;
    }
}