// backgrounds
$purple: #C8B8F2;
$light-orange: #F4C988;
$dark-orange: #E9A07F;

// navs
$transparent-purple: rgba(147, 127, 206, 0.2);
$purple-white: #E2DBF8;

$transparent-green: rgba(142, 163, 105, 0.2);
$green-white: #E7F8C9;

// greys
$mercury: #E1E1E1;
$silver: #AFAFAF;

// masks
$dark-mask: rgba(50, 50, 50, 0.25);
$light-mask: rgba(50, 50, 50, 0.1);

$shadow: 4px 4px 12px 1px $dark-mask;


//breakpoints
$tablet: 768px;
$desktop: 1280px;