@use './variables' as *;

@mixin tablet {
    @media (min-width: $tablet) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: $desktop) {
        @content;
    }
}

@mixin monitor {
    @media (min-width: $monitor) {
        @content;
    }
}

@mixin flex($justify-content: initial, $align-items: initial, $column-gap: initial, $row-gap: initial, $flex-wrap: nowrap) {
    display: flex;
    justify-content: $justify-content;
    align-items: $align-items;
    column-gap: $column-gap;
    row-gap: $row-gap;
    flex-wrap: $flex-wrap;
}

@mixin avatar {
    width: $avatar-size;
    aspect-ratio: 1/1;
    border-radius: 50%;
    filter: contrast(85%);

    @include tablet {
        width: 4rem;
    }
}

@mixin hide-dropdown-arrow {
    -webkit-appearance: none;
    appearance: none;
    
    &::-ms-expand {
        display: none;
    }
}