// backgrounds
$purple: #C8B8F2;
$light-orange: #F4C988;
$dark-orange: #E9A07F;
$yellow: #FEF7E1;

// navs
$transparent-purple: rgba(147, 127, 206, 0.2);
$purple-white: #E2DBF8;

$transparent-green: rgba(142, 163, 105, 0.2);
$green-white: #E7F8C9;

// shadows
$purple-shadow: #937FCE;
$green-shadow: #A6C078;

// greys
$alabaster: #FAFAFA;
$mercury: #E1E1E1;
$silver: #AFAFAF;

// masks
$dark-mask: rgba(50, 50, 50, 0.25);
$light-mask: rgba(50, 50, 50, 0.1);

$shadow: 4px 4px 12px 1px $dark-mask;


// breakpoints
$tablet: 768px;
$desktop: 1280px;
$monitor: 1600px;


// sizes
$avatar-size: 3.125rem;
$heart-size: 2.5rem;
$leash-size: 4.3125rem;
$middle-button-size: 4.6875rem;


// spacing
$mobile-spacing: 1rem;
$tablet-spacing: 1.5rem;
$desktop-spacing: 2.5rem;
$border-radius: 8px;