@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.top-nav {
    @include flex(flex-end);
}

.avatar {
    width: $avatar-size;

    &__container {
        position: relative;
    }

    &__mask {
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 50%;
        background-color: $light-mask;
        width: $avatar-size;
        height: $avatar-size;
    }
}