@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;


.page {
    &--home {
        background-color: $purple;
        @include flex(center, center);
        flex-direction: column;
        padding: $mobile-spacing;

        @include tablet {
            padding: $tablet-spacing;
        }
        
        @include desktop {
            padding: $desktop-spacing;
        }
    }
}