@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.top-nav {
    @include flex(flex-end, center, 1rem);
    width: 100%;

    &__link {
        font-size: 10px;
        font-weight: 600;
        padding: 0.125rem 0.521rem;

        &--home {
            color: #724EB7;
            border: 2px solid #724EB7;
        }
        
        &--walk {
            color: #48666F;
            border: 2px solid #48666F;
            z-index: 1;
        }
    }
}

.avatar {
    @include avatar;
}