@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.top-nav {
    @include flex(flex-end, center, 1rem);
    width: 100%;

    &__link {
        font-size: 10px;
        font-weight: 600;
        padding: 0.125rem 0.521rem;

        &--home {
            color: #724EB7;
            border: 2px solid #724EB7;
        }
        
        &--walk {
            color: #48666F;
            border: 2px solid #48666F;
            z-index: 1;
        }

        &--user {
            color: #323232;
            border: 2px solid #323232;
            line-height: 1rem;
            padding: 0 0.58rem;
            margin-bottom: 0.3rem;
        }
    }
}

.back-button {
    padding-top: 0.6rem;
    @include flex;
    cursor: pointer;
    position: absolute;
    top: 1rem;
    left: 1rem;

    &__text {
        padding-top: 0.2rem;
    }

    &--walk , &--home {
        display: none;
    }
}

.avatar {
    @include avatar;

    &__wrapper {
        line-height: 0;
    }
}