@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/fonts';

.page {
    &--user {
        background-color: $light-orange;
        font-family: 'Caveat', 'Comic Sans', cursive;
        font-size: 1.1rem;
    }
}

.header {
    height: 20%;
    background-color: $dark-orange;
    position: relative;
    margin-bottom: 2.75rem;
}

.back-button {
    padding: $mobile-spacing;
    @include flex;
    cursor: pointer;
}


.user-avatar {
    @include avatar;
    width: 5.5rem;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 100%;
    left: 50%;
}

.main-user {
    padding: $mobile-spacing;
    @include flex(center, center, 0, 1rem);
    flex-direction: column;
}

.graph {
    width: 100%;
    border-collapse: collapse;

    &__container {
        padding: $mobile-spacing;
        background-color: white;
        border-radius: $border-radius;
        box-shadow: $shadow;
        width: 100%;
    }

    &__body {
        @include flex;
        flex-direction: column-reverse;
    }

    &__row {
        width: 100%;
        @include flex(initial, initial, 0.5rem);
    }

    &__day {
        font-weight: 400;
        width: 2rem;
        text-align: right;
        flex-shrink: 0;
    }

    &__right-side {
        border-left: 1px solid $silver;
        flex-grow: 1;
    }

    &__bar {

        background: linear-gradient(to top, 
            white 0%, 
            white calc(50% - 0.8px), 
            #E11F27 50%, 
            white calc(50% + 0.8px), 
            white 100%
        );

        color: transparent;
        display: inline-block;
        position: relative;
        height: 0.75rem;

        &::after {
            content: url('../../assets/static-images/graph-dog.svg');
            width: 2rem;
            height: 1rem;
            position: absolute;
            right: -1.2rem;
            top: 0;
        }
    }
}


// another background we can use, looks like a notebook page
// .container {
//     background: linear-gradient(#3f87a6 10%, #ebf8e1a2 10%),
//       linear-gradient(to right, #ebf8e100 10%, #c73030 10% 10.2%, #ebf8e100 10.5%);
//     background-size: 100% 25px, 100% 100%;
//     background-repeat: repeat, no-repeat;
//  }