@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/fonts';

.page {
    &--user {
        // background-color: $light-orange;
        font-family: 'Kalam', 'Comic Sans', cursive;
        line-height: 1.4rem;

        // background: linear-gradient(
        //         #3f87a6 10%, 
        //         #ebf8e1a2 10%
        //     ),
        //     linear-gradient(to right, 
        //         #ebf8e100 10%, 
        //         #c73030 10% 10.2%, 
        //         #ebf8e100 10.5%
        //     );
        //#73a7bd 
        background: linear-gradient(
                #99c0d1 10%, 
                #ecf1e8a2 10%
            ),
            linear-gradient(to right, 
                #ebf8e100 10%, 
                #ca4a4a 10% 10.2%, 
                #ebf8e100 10.5%
            );
        // using chalkboard or whiteboard
        background-size: 100% 25px, 100% 100%;
        background-repeat: repeat, no-repeat;
    }
}

.header {
    // height: 20%;
    height: 10%;
    //background-color: $dark-orange;
    position: relative;
    // margin-bottom: 2.75rem;
    // margin-bottom: 3rem;
    margin-bottom: 1rem;
    @include flex(space-between, flex-start);
    padding: $mobile-spacing;
}

.back-button {
    // padding: $mobile-spacing;
    // padding-top: 1.6rem;
    padding-top: 0.6rem;
    @include flex;
    cursor: pointer;

    &__text {
        padding-top: 0.2rem;
    }
}


.user-avatar {
    @include avatar;
    // width: 5.5rem;
    // position: absolute;
    // transform: translate(-50%, -50%);
    // top: 100%;
    // left: 50%;
}

.main-user {
    padding: $mobile-spacing;
    @include flex(center, center, 0, 1rem);
    flex-direction: column;
}

.graph {
    width: 100%;
    border-collapse: collapse;

    &__container {
        padding: $mobile-spacing;
        background-color: white;
        // border-radius: $border-radius;
        // box-shadow: $shadow;
        box-shadow: 0px 4px 4px 0px $dark-mask;
        width: 100%;
        position: relative;

        &::before {
            display: block;
            content: '';
            background-image: url('../../assets/static-images/plain-washi.svg');
            background-size: cover;
            position: absolute;
            transform: translate(-50%, -50%);
            top: 0rem;
            left: 50%;
            width: 7rem;
            height: 1.25rem;
        }
    }

    &__body {
        @include flex;
        flex-direction: column-reverse;
    }

    &__row {
        width: 100%;
        @include flex(initial, initial, 0.5rem);
    }

    &__day {
        font-weight: 400;
        width: 2rem;
        text-align: right;
        flex-shrink: 0;
    }

    &__right-side {
        border-left: 1px solid $silver;
        flex-grow: 1;

        // background: repeating-linear-gradient(
        //     to right,
        //     $mercury,
        //     $mercury 1.5px,
        //     transparent 1px,
        //     transparent 10%
        // );
    }

    &__bar {

        background: linear-gradient(1deg, 
            transparent 0%, 
            transparent calc(50% - 0.8px), 
            #E11F27 50%, 
            transparent calc(50% + 0.8px), 
            transparent 100%
        );

        color: transparent;
        display: inline-block;
        position: relative;
        height: 0.75rem;

        &::after {
            content: url('../../assets/static-images/graph-dog.svg');
            width: 2rem;
            height: 1rem;
            position: absolute;
            right: -1.2rem;
            top: 0;
        }
    }
}

.legend{
    @include flex;
    column-gap: 0.5rem;

    &__left {
        width: 2rem;
    }

    &__container {
        @include flex(space-between);
        flex-grow: 1;
        border-top: 1px solid $silver;
    }
}