@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/animations' as *;

.sun {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 10%;
    left: 20%;

    &__layer1 {
        position: absolute;
        transform: translate(-50%, -50%);
        top: -0.15rem;
        left: -0.15rem;
        animation: rotate-forward 5s linear infinite;
    }

    &__layer2 {
        position: absolute;
        transform: translate(-50%, -50%);
        top: 0.08rem;
        left: 0.14rem;
        animation: rotate-backward 4s linear infinite;
    }

    &__layer3 {
        position: absolute;
        transform: translate(-50%, -50%);
        top: 0;
        left: 0;
        animation: rotate-forward 5s linear infinite;
    }

    &__layer4 {
        position: absolute;
        transform: translate(-50%, -50%);
        top: 0.2rem;
        left: -0.2rem;
        animation: rotate-backward 4s linear infinite;
    }

    &__layer5 {
        position: absolute;
        transform: translate(-50%, -50%);
        top: 0.35rem;
        left: 0.15rem;
        animation: rotate-forward 8s linear infinite;
    }

    &__layer6 {
        position: absolute;
        transform: translate(-50%, -50%);
        top: 0.144rem;
        left: 0;
        animation: rotate-backward 6s linear infinite;
    }
}