@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.bottom-nav {
    border-radius: 15%/50%;
    height: 3.75rem;
    width: 14rem;

    @include flex(center, center, 0.75rem);

    &--home {
        background-color: $transparent-purple;
    }

    &--walk {
        background-color: $transparent-green;
    }

    &__item {
        line-height: 0;
    }

    &__main-item {
        display: inline-block;
        width: $middle-button-size;
        height: $middle-button-size;
        border-radius: 50%;
        @include flex(center, center);

        &--home {
            background-color: $purple-white;
        }

        &--walk {
            background-color: $green-white;
        }

    }

    &__button {
        width: $heart-size;
    }
}