@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.walk-form {
    background-color: white;
    box-shadow: $shadow;
    width: 16.875rem;
    height: 11.9375rem;
    border-radius: $border-radius;
    @include flex(center, center, 0, 1.25rem);
    flex-direction: column;

    @include tablet {
        width: 18rem;
        height: 13rem;
    }

    &__background {
        position: fixed;
        top: 0;
        left: 0;
        background-color: $dark-mask;
        width: 100vw;
        height: 100vh;
        @include flex(center, center);
    }

    &__content {
        @include flex(center, center);
    }

    &__input {
        @include hide-dropdown-arrow;
        background-color: $mercury;
        border: none;
        width: 2.8125rem;
        height: 2.8125rem;
        text-align: center;
        border-radius: $border-radius;
        font-size: 2rem;
        outline: none;
        margin-bottom: 0.2rem;

        @include tablet {
            width: 3.5rem;
            height: 3.5rem;
            font-size: 2.3rem;;
        }
    }

    &__control {
        height: 100%;
    }

    &__control &__indicators {
        display: none;
    }

    &__menu-list {
        border-radius: $border-radius;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    &__option {
        background-color: $mercury;
        height: 2.8125rem;
        border-bottom: 1px solid $silver;
        z-index: 20;

        &:last-child {
            border: none;
        }
    }

    &__label {
        @include flex(center, center);
        flex-direction: column;
        line-height: initial;
        font-size: 0.65rem;
        font-weight: 500;
        text-transform: uppercase;

        @include tablet {
            font-size: 0.75rem;
        }
    }

    &__colon {
        font-size: 2rem;
        padding: 0 0.7rem 1.5rem;
    }

    &__button {
        background-color: $purple;
        border-radius: 15%/50%;
        text-transform: uppercase;
        font-size: 1.125rem;
        color: white;
        padding: 0.95rem 2.5rem;
        cursor: pointer;

        @include tablet {
            font-size: 1.25rem;
        }
    }

    &__message {
        line-height: initial;
        font-size: 0.65rem;
        font-weight: 500;
        margin-top: -0.75rem;
    }
}